<form class="form" (ngSubmit)="generate()">
  <mat-form-field appearance="outline">
    <mat-label>GitHub Username</mat-label>
    <input matInput [formField]="collageForm.username" placeholder="e.g. octocat"/>
    <mat-hint>GitHub user for which collage will be generated</mat-hint>
    @if (collageForm.username().touched() && collageForm.username().errors().length) {
      <mat-error>{{ collageForm.username().errors()[0].message }}</mat-error>
    }
  </mat-form-field>

  <!--  TODO: change to slider-->
  <mat-form-field appearance="outline">
    <mat-label>
      Collage Size ({{ limits.collageSize.min }} – {{ limits.collageSize.max }})
    </mat-label>
    <input matInput type="number" [formField]="collageForm.collageSize"/>
    <mat-hint>Number of followers' avatars in the collage</mat-hint>
    <!--  TODO: add a reusable component/directive to add mat-error field in one line  -->
    @if (collageForm.collageSize().touched() && collageForm.collageSize().errors().length) {
      <mat-error>{{ collageForm.collageSize().errors()[0].message }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tile Size in px ({{ limits.tileSize.min }} – {{ limits.tileSize.max }})</mat-label>
    <input matInput type="number" [formField]="collageForm.tileSize"/>
    <mat-hint>Size of single avatar in the collage in px</mat-hint>
    @if (collageForm.tileSize().touched() && collageForm.tileSize().errors().length) {
      <mat-error>{{ collageForm.tileSize().errors()[0].message }}</mat-error>
    }
  </mat-form-field>

  <button class="gen-btn"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading()">
    @if (loading()) {
      <mat-spinner diameter="20"/>
    } @else {
      Generate Collage
    }
  </button>
</form>
