:host {
  display: flex;
  flex-direction: column;

  .label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider {
    padding: 0 8px 0 0;

    mat-slider {
      width: 100%;
    }
  }
}
